{% extends 'MaithCommonUsersBundle::adminlayout.html.twig' %}
{% block pagestylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/maithtekoa/admin/vendor/chosen/chosen.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/maithtekoa/admin/vendor/datatables/jquery.dataTables.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/maithtekoa/admin/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script src="{{ asset('bundles/maithtekoa/admin/vendor/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('bundles/maithtekoa/admin/js/datatables.js') }}"></script>
{% endblock %}


{% block body -%}
<section class="panel">
  <header class="panel-heading">{% trans %}users_list_title{% endtrans %}</header>
  <div class="panel-body">
	<div class="table-responsive no-border">
	  <table class="table table-bordered table-striped mg-t datatable">
        <thead>
            <tr>
		<th>{% trans %}users_email{% endtrans %}</th>
		<th>{% trans %}users_full_name{% endtrans %}</th>
                <th>{% trans %}users_enabled{% endtrans %}</th>
                <th>{% trans %}users_locked{% endtrans %}</th>
                <th>{% trans %}users_last_login{% endtrans %}</th>
                <th>{% trans %}users_actions{% endtrans %}</th>
            </tr>
        </thead>
		<tfoot>
            <tr>
		<th>{% trans %}users_email{% endtrans %}</th>
		<th>{% trans %}users_full_name{% endtrans %}</th>
                <th>{% trans %}users_enabled{% endtrans %}</th>
                <th>{% trans %}users_locked{% endtrans %}</th>
                <th>{% trans %}users_last_login{% endtrans %}</th>
                <th>{% trans %}users_actions{% endtrans %}</th>
            </tr>
        </tfoot>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.email }}</td>
                <td>{{ entity.fullName }}</td>
                <td>
				  {% if entity.enabled == 1 %}
					{% trans %}users_enabled_yes{% endtrans %}
				  {% else %}
					{% trans %}users_enabled_no{% endtrans %}
				  {% endif %}
				</td>
                <td>
				  {% if entity.locked == 1 %}
					{% trans %}users_locked_yes{% endtrans %}
				  {% else %}
					{% trans %}users_locked_no{% endtrans %}
				  {% endif %}
				</td>
                <td>{{ entity.lastLogin | date('d/m/y') }}</td>
                <td>
		      {% if is_expr_granted("hasRole('ROLE_ADD_EDIT_USERS')") %}
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil-square-o fa-2x"></i></a>
			{% if entity.locked == 1 %}
			    <a href="{{ path('user_block_unblock', { 'id': entity.id, 'status' : 1 }) }}"><i class="fa fa-check fa-2x"></i></a>
			{% else %}
			    <a href="{{ path('user_block_unblock', { 'id': entity.id, 'status' : 0 }) }}"><i class="fa fa-ban fa-2x"></i></a>
			{% endif %}
		      {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	  </div>
	</div>
  </section>
  
{% if is_expr_granted("hasRole('ROLE_ADD_EDIT_USERS')") %}
<div class="row">
  <div class="col-lg-12 text-center">
	  <a href="{{ path('user_new') }}" class="btn btn-info">
		  {% trans %}users_create{% endtrans %}
	  </a>
  </div>
</div>
{% endif %}
    {% endblock %}
