{% extends 'MaithCommonUsersBundle::adminlayout.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-lg-8">
	<section class="panel">
	  <header class="panel-heading">{% trans %}users_create_entry{% endtrans %}</header>
	  <div class="panel-body">
		<form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }} role="form">
			<div class="form-group">
			  {{ form_errors(form.email) }}
			  <label for="{{ form.email.vars.id }}">{% trans %}users_email{% endtrans %}</label>
			  {{ form_widget(form.email, {'attr' : {'class' : 'form-control'}}) }}
			</div>
			<div class="form-group">
			  {{ form_errors(form.fullName) }}
			  <label for="{{ form.fullName.vars.id }}">{% trans %}users_full_name{% endtrans %}</label>
			  {{ form_widget(form.fullName, {'attr' : {'class' : 'form-control'}}) }}
			</div>
            
			<div class="form-group">
              {{ form_errors(form.user_groups) }}
              <label class="col-sm-2 control-label">{% trans %}users_permission_groups{% endtrans %}</label>
			  <div class="col-sm-10">
				{% for group in form.user_groups %}
				  <div class="form-group">
					{{ form_errors(group) }}
					  <label for="{{ group.vars.id }}">
						{{ form_widget(group) }}
						{{ form_label(group) }}  
					  </label>
					</div>
				{% endfor %}				
			  </div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">{% trans %}users_save{% endtrans %}</button>
			</div>
			{{ form_rest(form) }}
		</form>
	  </div>
	</section>
  </div>
  <div class="col-lg-12 text-center">
	<a href="{{ path('user') }}" class="btn btn-info">
		{% trans %}users_back_to_list{% endtrans %}
	  </a>
	</div>
  </div>
{% endblock %}
